.content
  code
    background-color: #fff5f5;
    color: #ff502c;

// 折叠面板样式
.custom-block.details {
  margin: 1em 0;
  padding: 0.5em;
  color: #000;
  summary {
    color: #666;
    font-size: 18px;
  }
}
